<div class="ad">
  <section class="ad__panel">
    <div class="ad-form">
      <h3 class="ad-form__title">Cấu hình chung</h3>

      <form nz-form nzLayout="vertical" [formGroup]="frmGroup">
        <nz-form-item>
          <nz-form-label nzRequired>Tên ứng dụng</nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng nhập thông tin!">
            <input nz-input formControlName="appName" placeholder="Nhập tên hiển thị của ứng dụng" />
          </nz-form-control>
        </nz-form-item>

        <div class="ad-form__actions">
          <button nz-button (click)="onClose()">Đóng</button>
          <button nz-button nzType="primary" (click)="onSave()">Lưu</button>
        </div>
      </form>
    </div>
  </section>
</div>
