<form nz-form [formGroup]="frmGroup">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired>Tên ứng dụng</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Vui lòng nhập thông tin!">
            <input nz-input formControlName="appName" placeholder="Nhập tên hiển thị của ứng dụng" />
        </nz-form-control>
    </nz-form-item>
</form>
<div class="row">
    <div class="col-md-12 col-lg-12 d-flex justify-content-end">
        <button nz-button [nzType]="'primary'" (click)="onSave()">Lưu</button>
        <button class="ms-2" nz-button [nzType]="'primary'" nzDanger (click)="onClose()">Đóng</button>
    </div>
</div>
