<!-- Toolbar: chọn vai trò (trái) · quét + lưu (phải) -->
<div class="ad__toolbar">
  <nz-select [(ngModel)]="objFilter.idRole" (ngModelChange)="onChangeRole()" nzAllowClear nzShowSearch
    nzPlaceHolder="-- Chọn vai trò --">
    <nz-option [nzValue]="el.value" [nzLabel]="el.text" *ngFor="let el of lstRole"></nz-option>
  </nz-select>

  <div class="ms-auto d-flex gap-2">
    <button nz-button (click)="scanPermission()" title="Quét lại toàn bộ quyền từ code">
      <i nz-icon nzType="reload"></i> Quét quyền hệ thống
    </button>
    <button nz-button nzType="primary" (click)="addPermissionByRole()">
      <i nz-icon nzType="save"></i> Lưu
    </button>
  </div>
</div>

<nz-table #moduleTable [nzData]="gridData" [nzFrontPagination]="false" nzShowPagination="false"
  [nzScroll]="{ x: '1000px', y: '520px' }">
  <thead>
    <tr>
      <th nzWidth="50">STT</th>
      <th [nzWidth]="col.width" *ngFor="let col of gridColumns">
        {{ col.header }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of moduleTable.data; let i = index">
      <td nzWidth="50">{{ i + 1 }}</td>
      <td [nzWidth]="col.width" *ngFor="let col of gridColumns" [ngSwitch]="col.type">
        <ng-container *ngSwitchCase="'template'">
          <ng-container [ngSwitch]="col.field">
            <ng-container *ngSwitchCase="'module'">
              <span class="perm-module">{{ row['moduleDescription'] }}</span>
              <br />
              <nz-tag [nzColor]="'blue'">
                <span nz-typography nzCopyable nzCopyText="{{ row.moduleCode }}">{{ row.moduleCode }}</span>
              </nz-tag>
            </ng-container>
            <ng-container *ngSwitchCase="'permission'">
              <div class="perm-item" *ngFor="let rowChild of row.lstPermissions; let i = index">
                <label nz-checkbox [(ngModel)]="rowChild.isChecked">{{ rowChild.description }}</label>
                <nz-tag [nzColor]="'blue'">
                  <span nz-typography nzCopyable nzCopyText="{{ rowChild.permissionCode }}">{{ rowChild.permissionCode
                    }}</span>
                </nz-tag>
              </div>
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{ row[col.field] }}
            </ng-container>
          </ng-container>
        </ng-container>
        <ng-container *ngSwitchDefault>
          {{ row[col.field] }}
        </ng-container>
      </td>
    </tr>
  </tbody>
</nz-table>
