<div class="ad">
  <section class="ad__panel">
    <nz-tabset (nzSelectedIndexChange)="onTabChange($event)">
      <nz-tab *ngFor="let tab of tabs" [nzTitle]="titleTemplate">
        <ng-template #titleTemplate>
          <span nz-icon [nzType]="tab.icon"></span>
          {{ tab.name }}
        </ng-template>
        <ng-container [ngSwitch]="tabSelected">
          <ng-container *ngSwitchCase="1">
            <app-role-grid></app-role-grid>
          </ng-container>
          <ng-container *ngSwitchCase="2">
            <app-permission-setup></app-permission-setup>
          </ng-container>
          <ng-container *ngSwitchDefault>NotFound</ng-container>
        </ng-container>
      </nz-tab>
    </nz-tabset>
  </section>
</div>
